p, nav, table, section, null, input, img, td, button * {
  font-family: NanumSquare;
  border-color: #f60024;
}

#name_bar{ text-align:center;font-size:150%;}

#first {
  background-color: #eeeeee;
  border: none
  height: 1px;
}

#ingredient_bar{
  text-align:center;
}
.barimg{width:3%;}

#second {
  background-color: #eeeeee;
  height: 10px;
  border: none;
}

.ingredientButton{
  width: 100%;
  border:none;
  background-color:white;
}

.buttonDiv{padding:1%;}
.rankingimg{ width:10%; float:left;}
.nameP{
  font-size:150%;
}
.enP{
  font-size:100%;
  color:gray;
}
