section, a, figcaption, figure, article, img, button

* {
    
	font-family: NanumSquare;
}

button{
    border:0px;
    background:#ffffff;
    padding:0px;
    margin:0px;
}


section {
    margin: 2%;
    padding: 2%;
}

article {
    overflow: hidden;
    padding:3%;
}

h1{
    font-size :120%;
    font-family:NanumGothic;
}

figure {
    text-align: center;
    float: left;
    font-size: 90%;
    width: 70%;
    height: auto;
    margin: 10%;
}

#back_button{
	background:#ffffff;
	margin:0px;
	padding:1%;
	border:0px;
	float:left;
}
#myInfo_text {
    font-size: 130%;
    float: left;
    padding: 1%;
    font-family:NanumGothic;
}
#myPage_appBar {
    margin: 0px;
    overflow: hidden;
    border: 0px;
    border-bottom: 0.5px solid;
    border-bottom-color: #a9a9a9;
    background-color: #ff3063;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}
#revise_button {
    float: right;
    width: 10%;
    padding: 1%;
}




#user_info_section {
    margin:0%;
    margin-top: 10%;
    padding:4%;
    border-bottom: 5px solid;
    border-color: #cdcdcd;
}
#profile_image {
    float: left;
    margin-top:3%;
    margin-right:4%;
    width:30%;
}
#user_info {
    float: left;
    font-size:100%;
}
#nickname_text{
    font-size:150%;
}

#recent_items_text{
    float:left;
}
.recent_item_button {
    float: left;
    width: 13%;
    height: 8%;
    margin: 3%;
    font-size: 60%;
}
.recent_item_image{
    width:100%;
    height:100%;
}




.more_link{                 /*내가 쓴 리뷰, 좋아요 한 상품 더보기*/
	float:right;
    text-decoration-line:none;
    color:black;
}

#myReview_section { /*내가 쓴 리뷰*/
    background-image: url("picture\\border3.png" );
    background-size: 100% 100%;
    padding: 5%;
    padding-left: 12%;
    padding-bottom: 10%;
}

#likeProduct_section { /*좋아요한 상품, 마지막 세션*/
    margin-bottom: 20%;
    padding: 5%;
    padding-left:12%;
    padding-bottom:10%;
    background-image: url("picture\\border3.png" );
    background-size: 100% 100%;
}
.like_product_button {
    width: 30%;
    height:auto;
    overflow: hidden;
}
.like_product_img{
    width:100%;
    height:auto;
}


#bottom_bar {
    margin: 0%;
    padding: 2%;
    overflow: hidden;
    border-top: 0.5px solid #999999;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    background-color: #ffffff;
}

.bottom_bar_button {
    border: 0px;
    background-color: #ffffff;
}

#category_icon {
    float: left;
}

#myPage_icon {
    float: right;
}