p, nav, table, section, null, input, img, td, button

*{
	font-family: NanumSquare;
  border-color:#f60024;
}
body{text-align:center;}

#eximg{width:5%;}

#border3p{padding-bottom:3%;}
#loginbutton{ border-radius:10px;
border: 3px #f60024 solid;
background-color: #ffffff;
width:30%;
height: 30px;}
