/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~위아래 배너~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

p, nav, table, section, null, input, img, td, button

*{
	font-family: NanumSquare;
    border-color:#f60024;
}
#back_bar {
	top:0; left:0;
  margin: 0; padding: 0;
  width: 100%;
  height: auto;
  padding: 1%;
  position: fixed;
  text-align:center;
  background: #f60024;
}

#back_icon {
  float: left;
  border: 0px;
  width:10%;
  height:auto;
  background-color:#f60024;
}

#explain_label{
	float: left;
	padding-top: 1%;
	color:white;
	font-size:120%;
}

#bottom_bar {
  margin: 0px;
  padding: 1%;
  overflow: hidden;
  border-top: 0.5px solid #999999;
  border-bottom: 0px;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  background-color: #ffffff;
}
.bottom_bar_button {
    border: 0px;
    width:7%;
    height:auto;
    background-color:white;
}
#category_icon {
    float: left;
    margin-left:5%;
}
#myPage_icon {
    float: right;
    margin-right:5%;
}


.noneline_for_space{padding-bottom: 10%;}
/* ~~~~~~~~~~~~~~~~~~~~위쪽section 정보~~~~~~~~~~~~~~~~~~ */

#review_section article{

	width:80%;
	text-align:left; margin-bottom:0;
	padding:5%;
	border:#f60024 solid;
	height:auto;
}

#profile_article{padding:1%; margin-bottom:0; align:center;
	border-top-left-radius:20px;
	border-top-right-radius: 20px;}
#goods_div{

}
#review_article{
	margin-top:0;
	text-align:left;
	width:80%;
	padding: 5%;
	border:#f60024 solid;
	border-bottom-left-radius:20px;
	border-bottom-right-radius: 20px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~아래section 정보 제공~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#rating_text{border:solid #f60024; font-size:200%; width:5%; border-radius:10px;}

  .writing_text{
    border: 1px solid gray; border-radius: 10px;
    height: 100px; width: 70%;
    margin-bottom: 5px; margin-left: 5%; margin-bottom: 3%;
    word-wrap;break-word;
    line-height: 10px;
    text-overflow:ellipsis; overflow:hidden;
  }

#addPicture_button{
  margin-bottom: 5px; margin-left: 5%; margin-bottom: 3%;
  width:15%; height: 80px;
  border: none; border-radius: 20px;
  background-color:#dddddd;
}


/*~~~~~~~~~~~~~~작성 취소 완료 버튼~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#done_button{background-color: #f60024; no-repeat; border: none; width: 30%; height: 40px;
   ursor: pointer; margin-right: 10%; border-radius: 20px; margin-left: 10%;}
#yet_button {background-color: white; no-repeat;  width: 30%; height: 40px;
   ursor: pointer; margin-right: 10%; border-radius: 20px; border:solid #f60024;}
