p, nav, table, section, null, input, img, td, button


*{
	font-family: NanumSquare;
    border-color:#f60024;
}

.noneline_for_space{padding-bottom: 10%;}

/*~~~~~~~~~~~~~~~~~~~~~~~제품 정보 내용~~~~~~~~~~~~~~~~~~~~``*/
#information_section{
  border-radius: 20px;
  background-color:#f9f6f4;
  padding:3%;
  height:auto;
  width: 70%;
	margin-left:15%;
}

#ingredient_button{
	width:30%;
	font-size: 60%;
	background-color: #f9f6f4;
	border:none;
	margin-left:70%;
}

#pictureInfo{float:left;}
#heart_button{
	border: 0px;
  width:5%;
  height:auto;
  background-color:white;
	float:left;
	margin-left:15%;}
#review_button{
	border: 0px;
  width:6%;
  height:auto;
  background-color:white;
	float:left;
}
#writing_button{
	border: 0px;
  width:5%;
  height:auto;
  background-color:white;
	float:left;
}
#review_section{
	margin-left:5%;
}
.review_p{margin-bottom:4%; margin-left:3%;}

/*top bar*/
#search_bar {
    overflow: hidden;
    position: fixed;
    background: #f60024;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0vh 1vw 6vh 0vw;
    width: 100vw;
    height: 4vh;
}

#logo_icon {
    float: left;
    background: #f60024;
    border: 0px;
    margin: 0vh 2vw 0vh 1vw;
    padding-bottom: 1vh;
    width: 8vh;
    height: 6vh;
}

    #logo_icon img {
        width: 100%;
        height: 100%;
    }

#search_text {
    float: left;
    border-radius: 30px;
    border: 0px;
    width: 35vw;
    height: 3.5vh;
    margin: 0.3vh 0vw 0vh 0.5vh;
}

#micro_icon {
    float: left;
    background-color: #f60024;
    border: 0px;
    margin: 0.5vh 0vw 0vh 0vw;
    width: 5vh;
    height: 3.5vh;
}

    #micro_icon img {
        width: 100%;
        height: 100%;
    }

#login_button {
    float: right;
    background-color: #f60024;
    color: #ffffff;
    border: none;
    margin: 0.5vh 4vw 0vh 0vw;
    font-size: 2.1vh;
}
/*top bar end*/


/*bottom bar start*/
#bottom_bar {
    margin: 0px;
    overflow: hidden;
    border-top: 0.5px solid #999999;
    border-bottom: 0px;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    background-color: #ffffff;
    width: 100vw;
    height: 5vh;
    padding: 3vh 2vw 2vh 2.5vw;
}

.bottom_bar_button {
    border: 0px solid;
    background-color: #ffffff;
    width: 7vh;
    height: 5vh;
}

    .bottom_bar_button img {
        width: 100%;
        height: 100%;
    }

#category_icon {
    float: left;
    margin-left: 5vw;
}

#myPage_icon {
    float: right;
    margin-right: 10vw;
}
/*bottom bar end*/
