p, nav, table, section, null, input, img, td, button

/*
	 :not(p){}  --pÁ¦¿ÜÇÑ ¸ðµç ¹®¼­

*/
*{
	font-family: NanumSquare;
    border-color:#f60024;
}


#search_bar {
  margin: 0; padding: 0;
  width: 100%;
  height: auto;
  padding: 0%;
  border-top: 0.5px;
  border-bottom:0px;
  position: fixed;
  text-align:center;
	top:0;
	left:0;
  background: #f60024;
}

.search_bar_button {
    border: 0px;
    background-color: #ffffff;
    height:auto;
}
#whitelogo_id{width:60%;}
#logo_icon {
    float: left;
		background:#f60024;
		width:10%;
		margin-right:20%;
}
#search_text{
  border-radius: 20px;
  border: solid;
  border-color: #f60024;
  width:40%;
	padding:1%;
	margin-top:0%;

}
#micro_id{width:45%;}
#micro_icon{
  background-color:#f60024;
  padding-top:0.5%;
	width:7%;
}
#login_button {
  background-color:#f60024;
  color: #ffffff;
  border: none;
	height:auto;
  margin-right:5%;
}


table {
    overflow: hidden;
    color: #f60024;
    border: 2px solid;
    margin: auto;
    margin-bottom: 15%;
    width: 85%;
    height: 30%;
    border-radius: 20px;
}
td {
	text-align:center;
}
img{
    border:0px;
}


#app_info_section {
    width: 75%;
    margin: auto;
    margin-top:10%;
    padding: 5%;
    background-color: #f9f7f4;
    border-radius: 10px;
}

#search {
    width: 70%;
    height: 4%;
    padding: 2%;
    border-radius: 100px;
    font-size: 70%;
    margin-top: 3%;
    border: 2px solid;
    border-color: #f60024;
}


#app_info {
	width:90%;
	margin: 0 auto;
}

#login_button{
  border:0px;
  background-color:#f60024;
	float:right;
	height:100%;
	width:13%;
  padding:2%;
}

.border3p{padding-bottom:3%;}

.center_align_section {
	text-align: center;
}

.category_images{ height:30px; width:30px;}
.img_button {
    overflow: hidden;
    border:0px;
    margin:0px;
    background-color:white;
    font-size:70%;
}
/*box-sizing:padding-box;*/

#top_bar {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #ffffff;
}

  #bottom_bar {
    margin: 0px;
    padding: 1%;
    overflow: hidden;
    border-top: 0.5px solid #999999;
    border-bottom: 0px;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    background-color: #ffffff;
  }
  .bottom_bar_button {
      border: 0px;
      width:7%;
      height:auto;
      background-color:white;
  }
  #categoryimg{ width:100%;}
  #category_icon {
      float: left;
      margin-left:5%;
  }
  #homeimg{width:160%;}
  #myPageimg{width:110%;}
  #myPage_icon {
      float: right;
      margin-right:5%;
  }

  .noneline_for_space{padding-bottom: 10%;}
