section, a, figcaption, figure, article, img, button

* {
    font-family: NanumSquare;
}

button {
    border: 0px;
    background: #ffffff;
    padding: 0px;
    margin: 0px;
}

section {
    margin: 2%;
    padding: 2%;
}

article {
    overflow: hidden;
    padding: 3%;
}

h1 {
    font-size: 120%;
    font-family: NanumGothic;
}

figure {
    text-align: center;
    float: left;
    font-size: 90%;
    width: 70%;
    height: auto;
    margin: 10%;
}

#backimg{ width:50%;}
#back_bar {
	top:0; left:0;
  margin: 0; padding: 0;
  width: 100%;
  height: auto;
  padding: 1%;
  position: fixed;
  text-align:center;
  background: #f60024;
}
#backimg{ width:50%;}
#back_icon {
  float: left;
  border: 0px;
  width:10%;
  height:auto;
  background-color:#f60024;
}

#explain_label{
	float: left;
	padding-top: 1%;
	color:white;
	font-size:120%;
}

#revise_button{
  background-color:#f60024;
  padding-top:1%;
  color:white;
  font-size:120%;
  float:right;
  margin-right:5%;
}

#user_info_section {
    margin: 0%;
    margin-top: 10%;
    padding: 4%;
    border-bottom: 5px solid;
    border-color: #cdcdcd;
}

#profile_image {
    float: left;
    margin-top: 3%;
    margin-right: 4%;
    width: 30%;
}

#user_info {
    float: left;
    font-size: 100%;
}

#nickname_text {
    font-size: 150%;
}

#recent_items_text {
    float: left;
}

.recent_item_button {
    float: left;
    width: 13%;
    height: 8%;
    margin: 3%;
    font-size: 60%;
}

.recent_item_image {
    width: 100%;
    height: 100%;
}

.more_link { /*���� �� ����, ���ƿ� �� ��ǰ ������*/
    float: right;
    text-decoration-line: none;
    color: black;
}

#myReview_section button { /*���� �� ����*/
    background-color: #f60024;
    color: #ffffff;
    width: 30%;
    border-radius: 0px 10px 0px 0px;
}
#myReview_section article {
    border: 1px solid;
    border-color: #f60024;
}

#likeProduct_section { /*���ƿ��� ��ǰ, ������ ����*/
    margin-bottom: 20%;
}
#like_product_tag {
    background-color: #f60024;
    color: #ffffff;
    width: 30%;
    border-radius: 0px 10px 0px 0px;
}
#likeProduct_section article {
    border: 1px solid;
    border-color: #f60024;
}
.like_product_button {
    width: 20%;
    height: auto;
    overflow: hidden;
    margin:4%;
}
.like_product_img {
    width: 100%;
    height: auto;
}


#bottom_bar {
  margin: 0px;
  padding: 1%;
  overflow: hidden;
  border-top: 0.5px solid #999999;
  border-bottom: 0px;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  background-color: #ffffff;
}
.bottom_bar_button {
    border: 0px;
    width:7%;
    height:auto;
    background-color:white;
}
#category_icon {
    float: left;
    margin-left:5%;
}
#myPage_icon {
    float: right;
    margin-right:5%;
}

#back_bar {
	top:0; left:0;
  margin: 0; padding: 0;
  width: 100%;
  height: auto;
  padding: 1%;
  position: fixed;
  text-align:center;
  background: #f60024;
}

#back_icon {
  float: left;
  border: 0px;
  width:10%;
  height:auto;
  background-color:#f60024;
}

#explain_label{
	float: left;
	padding-top: 1%;
	color:white;
	font-size:120%;
}
#revise_button
{
  float:right;
  margin-right:5%;
  padding-top:1%;
  color:white;
  font-size:120%;
}

/*�ٸ� ������*/
/*���ƿ��� ��ǰ*/
h2 {
    margin: 4%;
    margin-top: 15%;
}

#likeProduct_list_section article { /*���ƿ��� ��ǰ ����*/
    margin-bottom: 20%;
}

    .like_product_article button {
        float: left;
    }

    .like_product_article div {
        float: left;
        margin-left: 4%;
    }

    .like_product_article h1 {
        font-size: 90%;
    }




      #bottom_bar {
        margin: 0px;
        padding: 1%;
        overflow: hidden;
        border-top: 0.5px solid #999999;
        border-bottom: 0px;
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: 0px;
        text-align: center;
        background-color: #ffffff;
      }
      .bottom_bar_button {
          border: 0px;
          width:7%;
          height:auto;
          background-color:white;
      }
      #categoryimg{ width:100%;}
      #category_icon {
          float: left;
          margin-left:5%;
      }
      #homeimg{width:160%;}
      #myPageimg{width:110%;}
      #myPage_icon {
          float: right;
          margin-right:5%;
      }
